* {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

a {
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
}

.title {
  text-transform: uppercase;
}

.subtitle {
  color: var(--medium);
  font-weight: 400;
}

.block {
  margin-bottom: 120px;
}

.button {
  text-transform: uppercase;
  font-weight: 500;
}

.button-primary-outline {
  color: var(--primary-dark);
  border-color: var(--primary-color);
  transition: 0.3s;
}

.button-primary-outline:hover {
  background: var(--primary-dark);
  border-color: var(--primary-dark);
}
